.about {
  text-align: center;
  padding: 80px 20px;
}

.title {
  color: #555;
  font-size: 32px;
  margin-bottom: 48px;
}

.text {
  font-size: 18px;
  line-height: 1.6;
}

a {
  margin-top: 20px;
  font-size: 16px;
  color: #007bff;
}